<section
  class="pt-100 pb-70"
  style="background: {{ page.contact.background }}; "
  id="contact-section"
>
  <div class="container">
    <div class="row contact-form-md">
      <div
        class="col-12 col-lg-6 col-md-6 d-flex flex-column justify-content-center"
        data-aos="fade-in" data-aos-delay="150" data-aos-once="true">
        <div class="contact-details">
          <h2>
            A conversation is the first step in implementing a high-quality
            software solution.
          </h2>
          <p>
            <span
              style="color: #000000; font-family: Poppins; font-size: 17pxpx"
            >
              <span style="font-weight: 400"><a href="https://calendly.com/sanmark">Let’s Meet</a> </span
              >or leave your information, and we’ll get back to you
              shortly.</span
            >
          </p>
        </div>
      </div>
      <div class="col-12 col-lg-6 col-md-6" data-aos="fade-in" data-aos-delay="400" data-aos-once="true">
        <div class="contect-form">
          <form action="" class="row" style="width: 100%">
            <div class="col-12">
              <h6>We are here to attend to all your inquiries!</h6>
            </div>
            <div class="col-12">
              <input type="text" name="name" placeholder="Name" id="" />
            </div>
            <div class="col-12 col-md-12 col-lg-6">
              <input type="email" name="email" placeholder="Email" id="" />
            </div>
            <div class="col-12 col-md-12 col-lg-6">
              <input type="text" name="contact" placeholder="Phone" id="" />
            </div>
            <div class="col-12">
              <textarea
                name="messege"
                placeholder="Let us know what exciting challenge we can help you with!"
                id=""
                cols="4"
                rows="2"
              ></textarea>
            </div>
            <div class="col-12">
              <p>
                <span class="custom-text"
                  >We hate spam too, and we never share your data and protect
                  them securely.</span
                >
              </p>
            </div>
            <div class="col-12 d-flex justify-content-center">
              <button>
                Let's Talk
                <span class="button-custom-text"
                  >to Kick-start Your Success</span
                >
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
