<footer class="footer-section">
    <div class="container">
                <div class="footer-content pt-50 pb-30">
                    <div class="footer-pattern">
                        <img src="{{site.baseurl}}/assets/img/footer/footer_map.webp" alt="footer_map">
                    </div>

            
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                    
                    <div class="footer-widget" style="padding-right:25px;">
                        <div class="footer-logo">
                            <a href="{{site.url}}"><img src="{{site.baseurl}}/assets/img/logo/sanmark_footer_logo.webp" width=258 height=51 class="img-fluid" alt="{{site.title}}" sty></a>
                        </div>
                        <div class="footer-text">
                            <p style="color:#cccccc !important">We develop custom software solutions and provide dedicated developers and teams for the success of your business</p>
                        </div>
                        <div class="footer-social-icon">
                            <a href="{{site.mastodon_url}}"><i class="fab fa-mastodon"></i></a>
                            <a href="{{site.facebook_url}}"><i class="fab fa-facebook-f"></i></a>
                            <a href="{{site.twitter_url}}"><i class="fab fa-twitter"></i></a>
                            <a href="{{site.linkedin_url}}"><i class="fab fa-linkedin-in"></i></a>
                            <a href="{{site.instagram_url}}"><i class="fab fa-instagram"></i></a>
                            <a href="{{site.youtube_url}}"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
                

        

                <div class="col-xl-2 col-lg-2 col-md-6 mb-30">
                    <div class="footer-details" style="padding-right: 6px;">
                        <div class="footer-widget-heading">
                            <h4>Solutions</h4>
                        </div>
                        <div class="footer-line"></div>
                        <ul style="list-style: none;">
                            <li><a href="{{site.baseurl}}/custom-software-development/">CUSTOM SOFTWARE DEVELOPMENT</a></li>
                            <li><a href="{{site.baseurl}}/software-staff-augmentation/">DEDICATED ENGINEERS</a></li>
                            <li><a href="{{site.baseurl}}/software-teams-for-hire/">SOFTWARE TEAMS FOR HIRE</a></li>
                            <li><a href="{{site.baseurl}}/web-development/">E-COMMERCE AND WEB DEVELOPMENT</a></li>
                        </ul>
                    </div>
                </div>


                <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                    <div class="footer-details-address" style="padding-right:27px">
                        <div class="footer-widget-heading">
                            <h4>Contact Info</h4>
                        </div>
                        <div class="footer-line"></div>
                        <ul style="list-style: none;">
                            <li>HQ :Ranawiru Mw, Kahatapitiya, Batapola, Galle, Sri Lanka. 80320.</li>
                            <li>Melbourne: 101, Henry Street, Pakenham, VIC, Australia. 3810.</li>
                            <li>Sydney: 42, Moree Avenue, Westmead, NSW. Australia. 2145.</li>
                            <li>Yeppoon: 2/29, McBean Street, Yeppoon, QLD, Australia. 4703.</li>
                            <li>
                                <div class="row opening">
                                    <div class="col-2 icon" style="display: flex; align-items: center;"><i class="far fa-clock fa-lg" style="color:#ffffff; font-size:30px"></i></div>
                                    <div class="col-10 description"><strong>Opening Hours:</strong><br>8:00 AM – 7:45 PM</div>
                                </div>
                            </li>
                            <li>
                                <div class="row opening">
                                    <div class="col-2 icon" style="display: flex; align-items: center;"><i class="fas fa-calendar-check" style="color:#ffffff; font-size:30px"></i></div>
                                    <div class="col-10 description"><strong>Schedule an Appointment:</strong><br><a id="lets_meet" href="https://calendly.com/sanmark">Let's Meet!</a></div>
                                </div>  
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 mb-50">
                    <div class="footer-widget newsletter-section" id="newsletter-section" style="padding-right:0px; padding-left:30px; border-left: 2px solid #104cba">
                        <div class="footer-widget-heading">
                            <h4>Subscribe To Newsletter</h4>
                        </div>
                        <div class="footer-line"></div>
                        <div class="footer-text mb-25">
                            <p>Small and Medium-sized Enterprise Empowerment Newsletter</p>
                        </div>
                        {% include subscribe_newsletter.html %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6  text-center text-lg-left">
                    <div class="copyright-text">
                        <p>Copyright &copy; 2023 <a href="{{site.url}}">Sanmark Solutions PVT LTD</a></p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6  text-center text-lg-right">
                    <div class="footer-menu">
                        <ul>
                            <li><a href="{{ site.baseurl }}/blog/">Blog</a></li>
                            <li><a href="{{ site.baseurl }}/news/">News</a></li>
                            <li><a href="{{ site.baseurl }}/careers/">Careers</a></li>
                            <li><a href="{{ site.baseurl }}/faq/">FAQ</a></li>
                            <li><a href="#">Glossary</a></li>
                            <li><a href="{{ site.baseurl }}/privacy-policy">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>