<div class="header-top" style="background:#091D3E">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-8 col-lg-8 info">
                <div class="header-top-cta">
                    <div class="top-btn">
                        <a href="https://calendly.com/sanmark" class="top-btn"><i class="fas fa-calendar-check mr-8" style="font-size:14px; margin-right: 10px;"></i> Let's Meet: calendly.com/sanmark</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 text-right item-flex">
                <div class="top-social-links">
                    <a href="{{site.mastodon_url}}"><i class="fab fa-mastodon"></i></a>
                    <a href="{{site.facebook_url}}"><i class="fab fa-facebook-f"></i></a>
                    <a href="{{site.twitter_url}}"><i class="fab fa-twitter"></i></a>
                    <a href="{{site.linkedin_url}}"><i class="fab fa-linkedin-in"></i></a>
                    <a href="{{site.instagram_url}}"><i class="fab fa-instagram"></i></a>
                    <a href="{{site.youtube_url}}"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>