<div id="" class="subscribe-form newsletter-subscribe">
    <form action="" method="post" id="" name="mc-embedded-subscribe-form" class="needs-validation" target="" validate>
        
        <div class="mb-3">
            <input type="text" value="" name="name"  id="" placeholder="Your Name" required>        
        </div>
        
        <div class="mb-3">
            <input type="email" value="" name="email" id="" placeholder="Email Address" required>        
        </div>

        <button class="btn btn-lg btn-block newsletter-button" type="submit">Subscribe<i class="fa fa-paper-plane" style="font-size:14px"></i></button>
        
    </form>
</div>

    