<section class="blog-area grey-bg pt-100 pb-20" style="background-color:{{ page.background_color }}">
    <div class="container">
        <div class="row" data-aos="fade-up" data-aos-once="true">
            <div class="col-xl-12 text-center pb-40">
                <div class="values-title">
                    <h2>SUCCESS STORY</h2>
                    <h3>{{ page.success.heading }}</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 mb-30">
                <div class="blog-wrapper home-blog-wrapper white-bg" data-aos="fade-in" style="padding:0px 30px; height:auto; box-shadow:0px 0px 25px 2px rgba(159, 155, 155, 0.5); border-radius:10px">
                    <div class="d-flex justify-content-center" style="margin-top:30px; margin-bottom:20px">
                            <img src="{{ page.success.image | relative_url }}" width=80 height=80 alt="" style="border-radius:50%; box-shadow:0px 0px 10px 0px rgba(0,0,0,0.5)">
                    </div>
                    <div class="blog-content home-blog" style="text-align:center">
                        <h2 style="font-size:14px" class="">{{ page.success.position }}</h2>
                        <span class="d-block">{{ page.success.name }}</span>
                        <span class="d-block" style=""><span class="lnr lnr-map-marker mr-1" style=""></span>{{ page.success.address }}</span>
                    </div>
                    <div style="padding-top:20px; padding-bottom:20px">
                    <p>{{ page.success.paragraph }}</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 mb-30">
                <h3>Bidder.com.au</h3>
                <p>Bidder.com.au is an online real estate auction software system developed by Sanmark for an Australian client, which has all the features required for a real-time real estate auction. It handles several user roles, such as “Agents”, “Agent Admins”, and “Buyers”. We used our excellent Software Team to improve efficiency and productivity, and they led to the timely delivery of projects. Within one year and three months, our clients Jordan, Chris, and Theo successfully used bidder.com.au in their business environment along with the Sanmark skill set. As our project management strategy, we used Agile methodology and Scrum methodology. We heavily used microservice architecture for this project. Many new technologies are involved, most of which are for the first time in Sanmark.</p> 
            </div>
        </div>
    </div>
</section>


