---
layout: default
---
{% include header.html %}
<main>
    <!-- breadcrumb-area -->
    <section class="breadcrumb-area">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-xl-12 col-md-12 order-2 order-md-1">
                    <div class="breadcrumb-title sm-size">
                        <h1>{{page.title | capitalize }}</h1>
                        <p class="d-sm-none">Scroll down to read on...</p>
                    </div>
                </div>
                <div class="col-xl-12 col-md-12 breadcrumb-img order-1 order-md-2" style="padding: 0; ">
                    <img src="{{ page.post_image | relative_url }}" alt="" class="img-fluid" width="2560" height="393">
                    <style>
                        @media screen and (max-width: 386px) {
                            .slider-area {
                                height: 300px !important;
                            }
                        }

                        @media screen and (max-width: 991px) {
                            .slider-area {
                                height: 200px;
                            }
                        }
                    </style>
                    <div style="margin-top:-50px; background-color:#fff;">
                        <div style="height:50px"></div>
                    </div>
                    <svg style="bottom: 40px; height: 44px; max-width: auto; position: relative; width: 100%; padding:0px;"
                        id="wave" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
                        xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1289 34">
                        <path fill="#ffffff"
                            d="M1401,16.4c-189.6,21.9-423.1,21.9-700.5,0S189.7-5.5,0,16.4L0,34h1401V16.4z"></path>
                    </svg>
                </div>
            </div>
        </div>
    </section>
    <!-- blog-details-area -->
    <div class="basic-blog-area gray-bg pt-50 pb-40">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 blog-post-items">
                    <div class="blog-wrapper mb-60">
                        <div class="mt-3 mb-3 d-flex">
                            <div class="d-flex align-items-center p-3">
                                    <span class="lnr lnr-calendar-full pr-2" style="color: #2e59c7 !important;"></span>
                                    {{ page.date | date_to_long_string }}
                            </div>
                            <div class="d-flex align-items-center p-3">
                                {% assign author_slug = page.author %}
                                {% assign slug = author_slug | downcase | replace: ' ', '-' | replace: '["', '' | replace: '"]', '' | replace: '"', '' %}
                                <a href="{{ site.baseurl }}/author/{{ slug }}" style="color: #7e7e7e;">
                                    <span class="lnr lnr-user pr-2" style="color: #2e59c7 !important;"></span>
                                   {{ page.author }}
                                </a>

                            </div>
                        </div>
                        <div class="blog-content">
                            {{content}}
                            <div class="row mt-30">
                                <div class="col-xl-6 col-lg-6 col-md-6">
                                    <div class="blog-post-tag">
                                        {{ page | tags | capitalize | split: ', ' | join: ' ' }}
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6">
                                    {% include social_share.html %}
                                </div>
                            </div>
                        </div> 
                    </div>
                    <div class="row mt-20 blog-content-button">
                        <div class="col-6">
                            <button>
                                <a href="" id="btnPrev"><i class="fas fa-angle-double-left"></i> Previous Post</a>
                            </button>
                        </div>
                        <div class="col-6 d-flex justify-content-end">
                            <button>
                                <a href="" id="btnNext">Next Post <i class="fas fa-angle-double-right"></i></a>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-12 sidebar-blog right-side">
                    <div class="post-comments mt-50">
                        <div class="form">
                            <h2>Leave A Comment</h2>
                            <form action="" class="blog-page-form">
                                <div class="row">
                                    <div class="col-12">
                                        <textarea name="comment" id="" cols="30" rows="10" placeholder="Comment"></textarea>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <input type="text" name="name*" id="" placeholder="Name*">
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <input type="text" name="email" id="" placeholder="Email*">
                                    </div>
                                    <div class="col-lg-6 col-12">
                                        <button type="submit" name="submit" class="button-about grow_skew_forward" id="btn1">Post Comment</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script>

    let js_array = [];
    let obj = {}
    {% for item in site.posts %}
    obj = {
        id: {{ item.post_id }},
        url: "{{ item.permalink }}"
    }
    js_array.push(obj);
    {% endfor %}
    js_array.reverse();

    console.log(js_array);

    let current_id = {{ page.post_id }};

    let getPrev = (current_id) => {
        return js_array[current_id - 2];
    }

    let getNext = (current_id) => {
        return js_array[current_id];
    }

    if (getPrev(current_id)===undefined) {
        document.getElementById('btnPrev').style.display="none";
    }else{
        document.getElementById('btnPrev').style.display="block";
        document.getElementById('btnPrev').href=getPrev(current_id).url;
    }

    if (getNext(current_id)===undefined) {
        document.getElementById('btnNext').style.display="none";
    }else{
        document.getElementById('btnNext').style.display="block";
        document.getElementById('btnNext').href=getNext(current_id).url;
    }


</script>